@import url("https://fonts.google.com/specimen/Open+Sans");
@import url("https://fonts.google.com/specimen/Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Open Sans;
  font-weight: 400;
  background-color: hsl(257, 40%, 49%);
}
h2 {
  font-family: Poppins;
  font-weight: 400, 600;
  font-size: 2.5rem;
  color: white;
  line-height: 1.5;
  padding-bottom: 3rem;
}
h2,
p,
a {
  text-align: center;
}
p {
  font-size: 1.7rem;
  color: white;
  line-height: 1.3;
}

.container{
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  min-height: 100vh;
  position: relative;
}
.container .hero .logo img {
  width: 40%;
}

.container .hero img.image {
  width: 100%;
  padding: 6rem 0;
}

.container .center a {
  color: hsl(257, 40%, 49%);
  background: white;
  display: block;
  width: 65%;
  margin: 2rem auto 4rem;
  padding: 1.3rem;
  border-radius: 3rem;
  font-size: 1.4rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.4);
}
.container .center a:hover {
  background: hsl(300, 69%, 71%);
  color: white;
}
.container .center .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.container .center .icons .span i {
  padding: .5rem;
  margin: 0 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
}
.container .center .icons .span i:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}
.attribution {
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: hsl(300, 69%, 71%);
  transition: 0.5s;
}
.attribution a:hover {
  transform: translateY(-0.3rem);
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container{
    padding: 4% 15% 2% 15%;
  }
}
@media (min-width: 1025px) {
  h2{
    font-size: 3.8rem;
  }
  .container{
    display: flex;
    flex: 100%;
    padding: 5% 10%;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
  }
  .container .hero{
    flex: 55%;
  }
  .container .center{
    flex: 45%;
  }
  .container .center h2,p{
    text-align: left;
  }
  .container .center a{
    margin: 2rem 0 4rem;
    width: 30%;
  }
  .container .center .icons{
    position: absolute;
    bottom: 15%;
    right: 5%;
  }
}